:root {
    --background-color: rgb(42, 194, 67);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

body, button {
    background-color: var(--background-color);
    color: #FFF;
}

.wrapper-theme-change {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 35px;
    font-size: 30px;
}

.change-theme-btn {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
}

/* Change Theme Popup */
.modal-container {
    /* display: none;   setting display none till finished editing*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 10;
    background-color: #FFF;
    color: #000;
    width: 420px; /*haha funny weed number */
    height: 270px;
}

.modal-header {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 100px;
}

.close-btn {
    margin-left: 60px;
    border: none;
    background-color: #FFF;
    color: #000;
    font-size: 50px;
}

.close-btn:hover {
    cursor: pointer;
    animation-name: modal-close-btn;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
/* slight black modal overlay */
#overlay {
    /* display: none; setting display none till finished editing*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 20px;
}

header {
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.time {
    margin-bottom: 20px;
    font-size: 30px;
}

.ctrl-buttons {
    border-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 18px 10px;
    width: 120px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.ctrl-buttons:hover {
    animation-name: ctrl-buttons-bg;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.github-link {
    display: flex;
    text-decoration: none;
    color: #FFF;
}

.github-logo {
    font-size: 40px;
    color: #FFF;
}

.github-txt {
    margin-right: 10px;
    font-size: 20px;
    margin-top: 8px;
}

.github-txt:hover {
    text-decoration: underline;
}



/* All Animations */
@keyframes ctrl-buttons-bg {
    /* background animation */
    from {background-color: var(--background-color);}
    to {background-color: #FFF;}
    /* text animation */
    from {color: #FFF;}
    to {color: var(--background-color);}
}

@keyframes modal-close-btn {
    from {color: #000;}
    to {color: var(--background-color);}
}