:root {
    --green-background-color: rgb(42, 194, 67);
    --orange-background-color: rgb(255, 166, 0);
    --dark-background-color: rgb(53, 54, 58);
    --main-transition: 0.5s;
}


/* Themes */


/* Green Theme */
.green-mode {
    background-color: var(--green-background-color);
}

.green-mode .ctrl-buttons {
    background-color: var(--green-background-color);
}

.green-mode .change-theme-btn {
    background-color: var(--green-background-color);
}




/* Orange Theme */
.orange-mode {
    background-color: var(--orange-background-color);
}

.orange-mode .ctrl-buttons {
    background-color: var(--orange-background-color);
}

.orange-mode .change-theme-btn {
    background-color: var(--orange-background-color);
}

.orange-mode .ctrl-buttons:hover {
    animation-name: orange-ctrl-btn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.orange-mode .change-span:hover {
    transition: var(--main-transition);
    color: var(--orange-background-color);
    cursor: pointer;
}

.orange-mode .theme-span:hover {
    transition: var(--main-transition);
    color: var(--orange-background-color);
    cursor: pointer;
}

.orange-mode .close-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    color: var(--orange-background-color);
    cursor: pointer;
}

/* Dark Theme */
.dark-mode {
    background-color: var(--dark-background-color);
}

.dark-mode .ctrl-buttons {
    background-color: var(--dark-background-color);
}

.dark-mode .change-theme-btn {
    background-color: var(--dark-background-color);
}

.dark-mode .ctrl-buttons:hover {
    animation-name: dark-ctrl-btn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.dark-mode .change-span:hover {
    transition: var(--main-transition);
    color: var(--dark-background-color);
    cursor: pointer;
}

.dark-mode .theme-span:hover {
    transition: var(--main-transition);
    color: var(--dark-background-color);
    cursor: pointer;
}

.dark-mode .close-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    color: var(--dark-background-color);
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

body, button {
    background-color: var(--green-background-color);
    color: #FFF;
}

.wrapper-theme-change {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 35px;
    font-size: 30px;
}

.change-theme-btn {
    background-color: var(--green-background-color);
    border: none;
    cursor: pointer;
}

/* Change Theme Popup */
.modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 10;
    background-color: #000;
    color: #FFF;
    width: 420px; /*haha funny weed number */
    height: 270px;
    /* Neon Border */
    border: 3px solid;
    border-image-source: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 
    border-image-slice :1;
    
}

.modal-header {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 100px;
}

/* When the user hovers over the title words ("change" and "theme"). They change to the background color. */
.change-span:hover {
    transition: var(--main-transition);
    color: var(--green-background-color);
    cursor: pointer;
}

.theme-span:hover {
    transition: var(--main-transition);
    color: var(--green-background-color);
    cursor: pointer;
}

.close-btn {
    margin-left: 60px;
    border: none;
    background-color: #000;
    color: #FFF;
    font-size: 50px;
}

.close-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    color: var(--green-background-color);
    cursor: pointer;
}

/* Label Styles */
input {
    visibility: hidden;
}

label {
    cursor: pointer;
}

.modal-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.labels {
    font-family: 'Lato', sans-serif;
    background-color: #000;
    margin-bottom: 20px;
    border-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    margin-left: 140px;
    margin-right: 140px;
    font-size: 18px;
    cursor: pointer;
    padding: 7px;
}

.green {
    margin-top: 10px;
}

.green:hover {
    animation-name: green-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.orange:hover {
    animation-name: orange-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dark:hover {
    animation-name: dark-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* slight black modal overlay */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 20px;
}

header {
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.time {
    margin-bottom: 20px;
    font-size: 30px;
}

.ctrl-buttons {
    border-color: #FFF;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 18px 10px;
    width: 120px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.ctrl-buttons:hover {
    animation-name: ctrl-buttons-btn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.github-link {
    display: flex;
    text-decoration: none;
    color: #FFF;
}

.github-logo {
    font-size: 40px;
    color: #FFF;
}

.github-txt {
    margin-right: 10px;
    font-size: 20px;
    margin-top: 8px;
}

.github-txt:hover {
    text-decoration: underline;
}



/* All Animations */
@keyframes ctrl-buttons-btn {
    /* background animation */
    from {background-color: var(--green-background-color);}
    to {background-color: #FFF;}
    /* text animation */
    from {color: #FFF;}
    to {color: var(--green-background-color);}
}

/* Modal Animations */
@keyframes green-hover {
    /* border animation */
    from {border-color: #FFF;}
    to {border-color: var(--green-background-color);}
    /* text animation */
    from {color: #FFF;}
    to {color: var(--green-background-color);}
    /* background animation */
    from {background-color: #000;}
    to {background-color: #FFF;}
}

@keyframes orange-hover {
    /* border animation */
    from {border-color: #FFF;}
    to {border-color: var(--orange-background-color);}
    /* text animation */
    from {color: #FFF;}
    to {color: var(--orange-background-color);}
    /* background animation */
    from {background-color: #000;}
    to {background-color: #FFF;}
}

@keyframes dark-hover {
    /* text animation */
    from {color: #FFF;}
    to {color: #000;}
    /* background animation */
    from {background-color: #000;}
    to {background-color: #FFF;}
}

/* Color Based Animation Changes */
@keyframes orange-ctrl-btn {
    /* background animation */
    from {background-color: var(--orange-background-color);}
    to {background-color: #FFF;}
    /* text animation */
    from {color: #FFF;}
    to {color: var(--orange-background-color);}
}

@keyframes dark-ctrl-btn {
     /* background animation */
    from {background-color: var(--dark-background-color);}
    to {background-color: #FFF;}
    /* text animation */
    from {color: #FFF;}
    to {color: var(--dark-background-color);}
}